/*--------------------------------------------------------------
## Header region
--------------------------------------------------------------*/
header{
    margin: 0 auto;
    width: 100%;
    max-width: 79.0625em;
}
.l-header__inner { 
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
}

header {
    padding-top: 0.5em;
	padding-bottom: 0.5em;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-around;
}

@supports (display: grid) {
    
    header {
        display: -ms-grid;
        display: grid;
        grid-gap: 0.125em;	
        -ms-grid-columns: unquote("repeat(12, [col] 1fr )");	
                grid-template-columns: unquote("repeat(12, [col] 1fr )");
    }
    header > * {
        grid-column: col 2/ span 10;
    }

}    

// Hero

    .slider{
        
        .field-items{
          color: #fff;
          text-align: center;
          
          p {
            margin-bottom: 1.385em;
            line-height: 1.625em;
          }

          h2 {
            font-size: 2.5em;
            margin-bottom: 0.625em;
          }

        }

    } 

    .pane-style-full {
        background-size: cover;
        overflow: auto;
        background-color: #4e4e4e;
        width:100%;
        height: 458px;
    }


