



   /* Layout with CSS Grid */
	@supports (display: grid) {
		
				/* Four-column layout. Two center columns have a total max width of 70em: */
				.grid {
					display: grid;
					grid-template-columns: 1fr repeat(2, minmax(auto, 60em)) 1fr;
				}
				.l-header__inner {
					grid-column: 2/4;
					padding: 0.625em 0.625em 0.625em 5em;
				}
				.l-header {
					background-color: #FFF;
					height: auto;
				}
		
				/* Center items by placing them in the two center columns: */
				
				.col-2__title {
					grid-column: 1/4;
			}

			.col-1__title {
				grid-column: 1/4;
		}
			
				
			.col-2 ul {
				grid-column: 2/4;
			}
			.col-1 ul {
				grid-column: 1/4;
	  	}

				 
		
			}
		

	

	.splash-text {
		columns: 2;
		column-gap: 2em;
	}

	.col-1__text p {
		padding-top: 0;
	}



.col-1 {
	padding: 2em 1em 1em;
}

.col-1  ul {
	margin: 0;
	padding: 0;
}

.col-1  li {
	margin-bottom: 1em;
	background: white;
	list-style-type: none;
}

.col-1  {
	padding: 1.5em;
}


.col-1  {
	padding: 2em 1em 1em;

}

.col-1  ul {
	margin: 0;
	padding: 0;
}

.col-1  li {
	margin-bottom: 1em;
	background: white;
	list-style-type: none;
}

.col-1 {
  padding: 1.5em;
}





@supports (display: flex) {
	
.l-header__inner{
	display: flex;
	justify-content: space-between;
	padding: 0.625em 5em 0.625em 5em;
}

.col-2 ul {
	display: flex;
	justify-content: space-around;
}	


.col-2 li {
		width: 33%;
}
		
.col-1 ul {
	display: flex;
	justify-content: space-around;
}
	
.col-1 li {
	width: 24%;
}

}
