.wrapper {
	max-width: 70em;
	margin: 0 auto;
  background-color: red;
}

   /* Layout with CSS Grid */
	@supports (display: grid) {
		
		.wrapper {
			display: -ms-grid;
			display: grid;
			grid-gap: 0.125em;	
			-ms-grid-columns: unquote("repeat(12, [col] 1fr )");	
					grid-template-columns: unquote("repeat(12, [col] 1fr )");
		}
		.wrapper > * {
			grid-column: col / span 12;
		}
		



		
				/* Center items by placing them in the two center columns: */
				
				.col-2__title {
					grid-column: 1/4;
			}

			.col-1__title {
				grid-column: 1/4;
		}
			
				
			.col-2 ul {
				grid-column: 2/4;
			}
			.col-1 ul {
				grid-column: 1/4;
	  	}

				 
		
			}
		

	

	.splash-text {
		columns: 2;
		column-gap: 2em;
	}

	.col-1__text p {
		padding-top: 0;
	}



.col-1 {
	padding: 2em 1em 1em;
}

.col-1  ul {
	margin: 0;
	padding: 0;
}

.col-1  li {
	margin-bottom: 1em;
	background: white;
	list-style-type: none;
}

.col-1  {
	padding: 1.5em;
}


.col-1  {
	padding: 2em 1em 1em;

}

.col-1  ul {
	margin: 0;
	padding: 0;
}

.col-1  li {
	margin-bottom: 1em;
	background: white;
	list-style-type: none;
}

.col-1 {
  padding: 1.5em;
}





@supports (display: flex) {
	


.col-2 ul {
	display: flex;
	justify-content: space-around;
}	


.col-2 li {
		width: 33%;
}
		
.col-1 ul {
	display: flex;
	justify-content: space-around;
}
	
.col-1 li {
	width: 24%;
}

}



	