/*--------------------------------------------------------------
## main region
--------------------------------------------------------------*/

// Core region e.g Breadcrumbs,titles,feature and tabs

.l-outer {
    height: 3.75em;
    grid-row: 2/4;
}
.l-outer__inner{
    display: flex;
    justify-content: space-between;
}

// Main Content , sidebar-first , sidebar-second



.region-first {
    grid-column: col / span 3;
    grid-row: 3/5;
  }
  
.main-content {
    grid-column: col 4 / span 8; 
    grid-row: 3/5;
}
  
.region-second {
    grid-column: col 10 / span 3;
    grid-row: 3/5;
}

