/*--------------------------------------------------------------
## main region
--------------------------------------------------------------*/

// Core region e.g Breadcrumbs,titles,feature and tabs

main {
    margin: 0 auto;
    width: 100%;
    max-width: 79.0625em;
}

@supports (display: grid) {
    
    main {
        display: -ms-grid;
        display: grid;
        grid-gap: 0.125em;	
        -ms-grid-columns: unquote("repeat(12, [col] 1fr )");	
                grid-template-columns: unquote("repeat(12, [col] 1fr )");
    }
    main > * {
        grid-column: col 1/ span 12;
    }


} 

@supports (display: grid) {
    
    .slider {
        display: -ms-grid;
        display: grid;
        grid-gap: 0.125em;	
        -ms-grid-columns: unquote("repeat(12, [col] 1fr )");	
                grid-template-columns: unquote("repeat(12, [col] 1fr )");
    }
    .slider > * {
        grid-column: col 2/ span 10;
        grid-row: 5/12;
    }



} 

.l-outer__inner{
    display: flex;
    justify-content: space-between;
}

// Main Content , sidebar-first , sidebar-second

.l-sidebar-first  {
    grid-column: col / span 3;
    grid-row: 3/5;
  }
  
.l-main-content {
    grid-column: col 4 / span 8; 
}
.l-main-content__full {
    grid-column: col / span 12; 
    max-width: 100%;
}  
.l-sidebar-second {
    grid-column: col 10 / span 3;
}
.l-main-content__left-content {
    grid-column: col / span 10; 
    //grid-row: 3/5;
}
.l-sidebar-second__right {
    grid-column: col 10 / span 3;
    //grid-row: 3/5;
}
.l-main-content__right-content {
    grid-column: col 4 / span 10;
    //grid-row: 3/5;
}
.l-sidebar-first__left {
    grid-column: col / span 3;
    //grid-row: 3/5;
}

// New Events Ribbon

.ribbon {

    background-color: #f1f2f5;
    background-size: cover;
    padding-top: 2.325em;
    padding-bottom: 2.325em;
    
    
    .date-display-single {
        font-weight: 700;
    }


    p {
        line-height: 1.625em;
    }

    .fieldable-panels-pane{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .fieldable-panels-pane {
        flex:0 0 50%;
    }

}


@supports (display: grid) {
    
    .ribbon {
        display: -ms-grid;
        display: grid;
        grid-gap: 0.125em;	
        -ms-grid-columns: unquote("repeat(12, [col] 1fr )");	
                grid-template-columns: unquote("repeat(12, [col] 1fr )");
    }
    .ribbon > * {
        grid-column: col 2/ span 10;
    }

    .field-name-field-register {
        grid-column: col 11/ span 2;
        grid-row: 1;

        a {
            //border: solid 1px #61c0bd;
            background-color: #61c0bd;
            padding: 0.75em 1.5em;
            margin: 0 0 0.75em 0;
            transition: background-color 200ms ease;
            user-select: none;
            vertical-align: middle;
            color: #fff;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
} 



.field-name-field-event-date {
   .field-label{
       text-transform: uppercase;
       color:#51c0bd;
   }
}


    