/*--------------------------------------------------------------
## panels
--------------------------------------------------------------*/

// panel list

.panels-list{
    margin: 0 auto;
    width: 100%;
    max-width: 79.0625em;
    padding-left: 6em;
    padding-right: 6em;
}

.panels-list {
    padding-top: 0.5em;
	padding-bottom: 5em;
    align-items: center;
    position: relative;
    justify-content: space-around;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;

    
        .field-item{
            align-items: center;
            position: relative;
            justify-content: space-around;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .field-item > * {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 33%;
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            padding: 1em 0 0 1em;
            text-align: center;
        } 

        img{
            width:38%
        }


        .pane-title {
                text-align: center;
                font-size: 1.875em;
                text-transform: uppercase;
                margin-bottom: 1em;
        }

        h3{
            text-transform: uppercase;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: 700;
        }

        
    
}

.mission{
    background: #f1f2f5;
    
    .pane-list__desc .field-item > * {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            padding: 1em 0 0 1em;
            text-align: center;
            background-color: transparent;
            border-radius: 0;
    } 

    .field-item > * {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        padding: 1em 1em 1em 1em;
        text-align: center;
        background-color: #fff;
        border-radius: 3px;

        img {
            width: 24%;       
            margin-top: -50px;
            background-color: #fff;
            border: 5px solid transparent;
            border-radius: 200px;
        }
    }

}

.members {
    background: #f1f2f5;
    
    
    .field-item > * {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 1em 0 0 1em;
        text-align: center;
        background-color: transparent;
        border-radius: 0;

        img {
            width: 55%;       
        }
    }

}

.pane-blog {
    background: #fff;
    
    
    .field-item > * {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 1em 0 0 1em;
        text-align: center;
        background-color: transparent;
        border-radius: 0;
    }

}


.panels-list > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 1em 0 0 1em;
}

.pane-list__desc {
    padding-bottom: 5em;
}
// Blog region
.blog {
    text-align: left;
}

@supports (display: grid) {
    
    .panels-list {
        display: -ms-grid;
        //display: grid;
        grid-gap: 0.125em;	
        -ms-grid-columns: unquote("repeat(12, [col] 1fr )");	
                grid-template-columns: unquote("repeat(12, [col] 1fr )");
    }
    .panels-list > * {
        grid-column: col 2/ span 10;
    }
}




