/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 2, ../sass/base/_base.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/base/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 12, ../sass/base/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  max-width: 100%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../sass/base/_base.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/base/_base.scss */
blockquote {
  quotes: none;
}

/* line 27, ../sass/base/_base.scss */
blockquote:before {
  content: '';
  content: none;
}

/* line 31, ../sass/base/_base.scss */
blockquote:after {
  content: '';
  content: none;
}

/* line 35, ../sass/base/_base.scss */
q {
  quotes: none;
}

/* line 38, ../sass/base/_base.scss */
q:before {
  content: '';
  content: none;
}

/* line 42, ../sass/base/_base.scss */
q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/base/_base.scss */
ol {
  list-style: none;
}

/* line 49, ../sass/base/_base.scss */
ul {
  list-style: none;
}

/* line 52, ../sass/base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../sass/base/_base.scss */
article, aside, details, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 59, ../sass/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 64, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #61c0bd;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
/* line 68, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
  color: #61c0bd;
}

/* Layout with CSS Grid */
@supports (display: grid) {
  /* Four-column layout. Two center columns have a total max width of 70em: */
  /* line 9, ../sass/layout/_layout.scss */
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 60em)) 1fr;
  }

  /* line 14, ../sass/layout/_layout.scss */
  .l-header__inner {
    grid-column: 2/4;
    padding: 0.625em 0.625em 0.625em 5em;
  }

  /* Center items by placing them in the two center columns: */
  /* line 21, ../sass/layout/_layout.scss */
  .col-2__title {
    grid-column: 1/4;
  }

  /* line 25, ../sass/layout/_layout.scss */
  .col-1__title {
    grid-column: 1/4;
  }

  /* line 30, ../sass/layout/_layout.scss */
  .col-2 ul {
    grid-column: 2/4;
  }

  /* line 33, ../sass/layout/_layout.scss */
  .col-1 ul {
    grid-column: 1/4;
  }
}
/* line 44, ../sass/layout/_layout.scss */
.splash-text {
  columns: 2;
  column-gap: 2em;
}

/* line 49, ../sass/layout/_layout.scss */
.col-1__text p {
  padding-top: 0;
}

/* line 55, ../sass/layout/_layout.scss */
.col-1 {
  padding: 2em 1em 1em;
}

/* line 59, ../sass/layout/_layout.scss */
.col-1 ul {
  margin: 0;
  padding: 0;
}

/* line 64, ../sass/layout/_layout.scss */
.col-1 li {
  margin-bottom: 1em;
  background: white;
  list-style-type: none;
}

/* line 70, ../sass/layout/_layout.scss */
.col-1 {
  padding: 1.5em;
}

/* line 75, ../sass/layout/_layout.scss */
.col-1 {
  padding: 2em 1em 1em;
}

/* line 80, ../sass/layout/_layout.scss */
.col-1 ul {
  margin: 0;
  padding: 0;
}

/* line 85, ../sass/layout/_layout.scss */
.col-1 li {
  margin-bottom: 1em;
  background: white;
  list-style-type: none;
}

/* line 91, ../sass/layout/_layout.scss */
.col-1 {
  padding: 1.5em;
}

@supports (display: flex) {
  /* line 101, ../sass/layout/_layout.scss */
  .l-header__inner {
    display: flex;
    justify-content: space-between;
    padding: 0.625em 5em 0.625em 5em;
  }

  /* line 107, ../sass/layout/_layout.scss */
  .col-2 ul {
    display: flex;
    justify-content: space-around;
  }

  /* line 113, ../sass/layout/_layout.scss */
  .col-2 li {
    width: 33%;
  }

  /* line 117, ../sass/layout/_layout.scss */
  .col-1 ul {
    display: flex;
    justify-content: space-around;
  }

  /* line 122, ../sass/layout/_layout.scss */
  .col-1 li {
    width: 24%;
  }
}
/*--------------------------------------------------------------
## branding
--------------------------------------------------------------*/
/* line 5, ../sass/components/_branding.scss */
.branding {
  width: 50%;
}

/* line 8, ../sass/components/_branding.scss */
.branding__logo {
  width: 165px;
  height: 25px;
}

/* line 12, ../sass/components/_branding.scss */
.branding__logo {
  width: 165px;
  height: 25px;
}
/* line 16, ../sass/components/_branding.scss */
.branding__logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: none;
  color: transparent;
  color: transparent;
  line-height: 60px;
  margin: 0.3125em;
}

/* line 27, ../sass/components/_branding.scss */
.branding__title, .branding__slogan {
  margin: 0;
  line-height: 1em;
}

/*--------------------------------------------------------------
## navigation
--------------------------------------------------------------*/
/* line 4, ../sass/components/_navigation.scss */
.main-menu {
  width: 50%;
}

/* line 7, ../sass/components/_navigation.scss */
.navigation ul.menu {
  text-align: right;
}
/* line 12, ../sass/components/_navigation.scss */
.navigation ul.menu li {
  display: inline-block;
  margin-left: 33.33333px;
}
/* line 15, ../sass/components/_navigation.scss */
.navigation ul.menu li a {
  text-transform: uppercase;
  line-height: 60px;
  margin: 0.3125em;
}
/* line 20, ../sass/components/_navigation.scss */
.navigation ul.menu li:last-child a {
  border: solid 1px #61c0bd;
  background-color: transparent;
  padding: 0.75em 1.5em;
  margin: 0 0 0.75em 0;
  transition: background-color 200ms ease;
  user-select: none;
  vertical-align: middle;
  color: #61c0bd;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 31, ../sass/components/_navigation.scss */
.navigation ul.menu li:last-child a:hover {
  background-color: #61c0bd;
  color: #FFF;
}
