/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 2, ../sass/base/_base.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/base/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 12, ../sass/base/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  max-width: 100%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../sass/base/_base.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/base/_base.scss */
blockquote {
  quotes: none;
}

/* line 27, ../sass/base/_base.scss */
blockquote:before {
  content: '';
  content: none;
}

/* line 31, ../sass/base/_base.scss */
blockquote:after {
  content: '';
  content: none;
}

/* line 35, ../sass/base/_base.scss */
q {
  quotes: none;
}

/* line 38, ../sass/base/_base.scss */
q:before {
  content: '';
  content: none;
}

/* line 42, ../sass/base/_base.scss */
q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/base/_base.scss */
ol {
  list-style: none;
}

/* line 49, ../sass/base/_base.scss */
ul {
  list-style: none;
}

/* line 52, ../sass/base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../sass/base/_base.scss */
article, aside, details, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 59, ../sass/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 64, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #61c0bd;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
/* line 68, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
  color: #61c0bd;
}

/* Layout with CSS Grid */
@supports (display: grid) {
  /* Four-column layout. Two center columns have a total max width of 50em: */
  /* line 9, ../sass/layout/_layout.scss */
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
  }

  /* Center items by placing them in the two center columns: */
  /* line 16, ../sass/layout/_layout.scss */
  .col-2__title {
    grid-column: 1/4;
  }

  /* line 20, ../sass/layout/_layout.scss */
  .col-1__title {
    grid-column: 1/4;
  }

  /* line 25, ../sass/layout/_layout.scss */
  .col-2 ul {
    grid-column: 2/4;
  }

  /* line 28, ../sass/layout/_layout.scss */
  .col-1 ul {
    grid-column: 1/4;
  }

  /* line 32, ../sass/layout/_layout.scss */
  .buckets ul {
    grid-column: 1/4;
  }

  /* line 35, ../sass/layout/_layout.scss */
  .region-content {
    padding: 1.5em;
  }

  /* line 39, ../sass/layout/_layout.scss */
  .region-content__color {
    background: #FFF6E5;
    padding-bottom: 2em;
  }
}
/* line 50, ../sass/layout/_layout.scss */
.splash-text {
  columns: 2;
  column-gap: 2em;
}

/* line 55, ../sass/layout/_layout.scss */
.col-1__text p {
  padding-top: 0;
}

/* line 61, ../sass/layout/_layout.scss */
.col-1 {
  padding: 2em 1em 1em;
}

/* line 65, ../sass/layout/_layout.scss */
.col-1 ul {
  margin: 0;
  padding: 0;
}

/* line 70, ../sass/layout/_layout.scss */
.col-1 li {
  margin-bottom: 1em;
  background: white;
  list-style-type: none;
}

/* line 76, ../sass/layout/_layout.scss */
.col-1 {
  padding: 1.5em;
}

/* line 81, ../sass/layout/_layout.scss */
.col-1 {
  padding: 2em 1em 1em;
}

/* line 86, ../sass/layout/_layout.scss */
.col-1 ul {
  margin: 0;
  padding: 0;
}

/* line 91, ../sass/layout/_layout.scss */
.col-1 li {
  margin-bottom: 1em;
  background: white;
  list-style-type: none;
}

/* line 97, ../sass/layout/_layout.scss */
.col-1 {
  padding: 1.5em;
}

@supports (display: flex) {
  /* line 109, ../sass/layout/_layout.scss */
  .col-2 ul {
    display: flex;
    justify-content: space-around;
  }

  /* line 115, ../sass/layout/_layout.scss */
  .col-2 li {
    width: 33%;
  }

  /* line 119, ../sass/layout/_layout.scss */
  .col-1 ul {
    display: flex;
    justify-content: space-around;
  }

  /* line 124, ../sass/layout/_layout.scss */
  .col-1 li {
    width: 24%;
  }
}
/* line 129, ../sass/layout/_layout.scss */
.logo,
.site-title {
  text-align: center;
}

/* line 134, ../sass/layout/_layout.scss */
.logo {
  font-size: 8em;
}

/* line 138, ../sass/layout/_layout.scss */
.site-title {
  margin-top: -1em;
  margin-bottom: 3em;
}

/*--------------------------------------------------------------
## branding
--------------------------------------------------------------*/
/* line 6, ../sass/components/_branding.scss */
.branding__logo {
  width: 165px;
  height: 25px;
}

/* line 10, ../sass/components/_branding.scss */
.branding__logo {
  width: 165px;
  height: 25px;
}
/* line 14, ../sass/components/_branding.scss */
.branding__logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: none;
  color: transparent;
}

/* line 22, ../sass/components/_branding.scss */
.branding__title, .branding__slogan {
  margin: 0;
  line-height: 1em;
}
