/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 2, ../sass/base/_base.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/base/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 12, ../sass/base/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  max-width: 100%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../sass/base/_base.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/base/_base.scss */
blockquote {
  quotes: none;
}

/* line 27, ../sass/base/_base.scss */
blockquote:before {
  content: '';
  content: none;
}

/* line 31, ../sass/base/_base.scss */
blockquote:after {
  content: '';
  content: none;
}

/* line 35, ../sass/base/_base.scss */
q {
  quotes: none;
}

/* line 38, ../sass/base/_base.scss */
q:before {
  content: '';
  content: none;
}

/* line 42, ../sass/base/_base.scss */
q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/base/_base.scss */
ol {
  list-style: none;
}

/* line 49, ../sass/base/_base.scss */
ul {
  list-style: none;
}

/* line 52, ../sass/base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../sass/base/_base.scss */
article, aside, details, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 59, ../sass/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 64, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #61c0bd;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
/* line 68, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
  color: #61c0bd;
}
