/*--------------------------------------------------------------
## navigation
--------------------------------------------------------------*/
.main-menu{
    width: 50%;
}
.navigation ul.menu {
    //display: inline-block;
    //float: right;
    text-align: right;

    li {
      display: inline-block;
      margin-left: 33.33333px;
      a {
        text-transform: uppercase;
        line-height: 60px;
        margin: 0.3125em;
      }
      &:last-child a {
        border: solid 1px #61c0bd;
        background-color: transparent;
        padding: 0.75em 1.5em;
        margin: 0 0 0.75em 0;
        transition: background-color 200ms ease;
        user-select: none;
        vertical-align: middle;
        color: #61c0bd;
        text-transform: uppercase;
        white-space: nowrap;
        &:hover {
          background-color: #61c0bd;
          color: #FFF;
        }
      }
    }
  }

  