/*--------------------------------------------------------------
## navigation
--------------------------------------------------------------*/
@include fontface('MuseoSans 500', '/assets/fonts', 'MuseoSans_500');
@include fontface('MuseoSans 700', '/assets/fonts', 'MuseoSans_700');

.main-menu{
    width: 50%
}
.navigation ul.menu {
    //display: inline-block;
    //float: right;
    text-align: right;

    li {
      display: inline-block;
      margin-left: 2.2em;
      a {
        text-transform: uppercase;
        line-height: 60px;
        margin: 0.0625em;
        font-family: "MuseoSans 500";
        font-size: 0.8975em;
      }
      &:last-child a {
        border: solid 1px #61c0bd;
        background-color: transparent;
        padding: 0.80em 1.80em;
        margin: 0 0 0.75em 0;
        transition: background-color 200ms ease;
        user-select: none;
        vertical-align: middle;
        color: #61c0bd;
        white-space: nowrap;
        &:hover {
          background-color: #61c0bd;
          color: #FFF;
        }
      }
    }
  }

  