/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    max-width: 100%;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
body{
    line-height:1;
}
blockquote{
    quotes:none;
}
blockquote:before{
    content:'';
    content:none;
}
blockquote:after{
    content:'';
    content:none;
}
q{
    quotes:none;
}
q:before{
    content:'';
    content:none;
}
q:after{
    content:'';
    content:none;
}
ol{
    list-style:none;
}
ul{
    list-style:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
article,aside,details,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #61c0bd;
    @include openTransition(opacity, 0.25s, ease-in-out);
    &:hover {
      text-decoration: none;
      color: #61c0bd;
    }
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */
